name: Example workflow for Python using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
           command: code test 
           args: --sarif-file-output=snyk.sarif
           -name: Print the snyk sarif file
           run: car snyk.sarif
      - name: Send notification on Slack using Webhooks
        uses: slackapi/slack-github-action@v1.24.0
        if: always()
        with:
          payload: |
             {
        "text": "*The Snyk scan result for repo, https://github.com/snehacs67/SAST- is, ${{ job.status }}\nNumber of vulnerabilities: ${{ env.RESULTS_LENGTH }}\nDetail: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
               }
             
      env:
       SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook_url }}

